input{
    padding: 5px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    outline: none;
}
button{
    background-color: #0072f5;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    outline: none;
    margin: 10px;
}
button:hover{
    opacity: 0.7;
    cursor: pointer;
    
}
.lista{
    display: flex;
    flex: 1;
    justify-content: space-between;
    border: 1px solid #000;
    width: 400px;
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
}
.lista div{
    display: flex;
}
.lista p{
    padding: 5px;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 5px;

}
.excluir{
    background-color: #fc5555;
    color: #fff;
}
.editar{
    background-color: #369c32;
    color: #fff;
}
.lista p:hover{
    opacity: 0.7;
    cursor: pointer;
}