.campoVazio{
    color: red;
    font-size: 16px;
    margin: 0;
}
.success{
    display: flex;
    position:absolute;
    left: 0;
    top: 0;
    background-color: #94ffaf;
    color: #006419;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #006419;
    max-width: 300px;
}
.error{
    display: flex;
    position:absolute;
    left: 0;
    top: 0;
    background-color: #ff9494;
    color: #ff0000;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #fc3c3c;
    max-width: 300px;
}